<%= render 'layouts/main_css' %>

<div class="page-head">
  <div class="page-title">
    <h1>Conseils</h1>
  </div>
</div>

<div class="portlet box red-sunglo">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Quelle durée pour atteindre cet objectif "débutant en course à pied" ?
            </div>
          </div>
          <div class="portlet-body">
            <p> Difficile de le savoir au départ. Cela dépend de la condition physique du coureur, du nombre de séance par semaine (1 ou 2), de son passé de sportif,…..
Par contre,la progressivité est la clé de la réussite. Au départ il faut se fixer des objectifs raisonnables et s’y tenir. Le corps dans sa globalité (cœur, muscles,tendons,…) a besoin de temps pour se réhabituer à ce type d’effort. Vouloir aller trop vite dans la progression peut être synonyme de blessure, de fatigue, d’une baisse de motivation… Il faut savoir rester humble et modeste. </p>
<%= image_tag "advice-4.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>
<div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Par quelle méthode débuter la course à pied ?

            </div>
          </div>
          <div class="portlet-body">
            <p> L’alternance de temps de course et de marche semble être la méthode la plus adaptée. Au fil des séances, le temps total de course augmente au profit des périodes de marche. Les séances doivent être effectuées en aisance respiratoire. Il faut surtout rester à son propre rythme et être à l’écoute de son corps. Sous aucun prétexte le coureur doit finir la séance épuisé. </p>
            <%= image_tag "advice-2.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>

<div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Le débutant en course à pied doit-il connaitre sa FCM ?
            </div>
          </div>
          <div class="portlet-body">
            <p> L'objectif étant de courir en totale aisance respiratire, il est inutile de connaitre sa fréquence cardiaque maximale (FCM) au moment de débuter la course à pied. Une fois que vous serez en capacité de courir 30 minutes en totale aisance, et que vous désirerez gagner en aisance lors de vos footings, alors il serait intéressant d'introduire du travail de fractionné à 80-90% de votre FCM. Pour cela, connaitre sa FCM sera un réel avantage.</p>
            <%= image_tag "advice-6.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>

<div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Le débutant en course à pied doit-il connaitre sa VMA ?

            </div>
          </div>
          <div class="portlet-body">
            <p> L'objectif principal du coureur débutant étant d'être capable de courir 30 minutes en totale aisance respiratoire, connaitre sa VMA (Vitesse Maximale Aérobie) est totalement inutile au moment de débuter la course à pied. Une fois que le coureur sera en capacité de courir 45 minutes à une heure en totale aisance respiratoire, dans l'optique d'améliorer ses performances en course à pied, il peut être interessant de programmer un test d'évaluation de la VMA (Vitesse Maximale Aérobie) afin de mettre en place des séances d'entrainement spécifiques visant à améiorer son potentiel aérobie.</p>
            <%= image_tag "advice-5.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>

<div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Conseils divers pour débuter la course à pied
            </div>
          </div>
          <div class="portlet-body">
            <ul>
              <li>En cas de difficultés sur une séance, ne pas hésiter à arrêter et/ou à la refaire. Rien ne presse.</li>
              <li>Chaque séance est suivie de 10 ’d’étirements.</li>
              <li>Lorsque le test est réussi ne pas chercher à augmenter immédiatement la durée des footings.</li>
              <li>S’assurer pendant 5-6 séances encore que le coureur est parfaitement à l’aise sur des footings de 30'.</li>
              <li>Rien ne l’empêche d’effectuer des footings plus courts s’il en ressent le besoin ou l’envie.</li>
              <li>Plutôt que d’augmenter les durées, il est préférable d’ajouter un footing par semaine.</li>
            </ul>
            <%= image_tag "advice-3.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>

<div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> L'entrainement
            </div>
          </div>
          <div class="portlet-body">
            <p> L’entraînement ne nous rend pas plus fort, il nous affaiblit. Car s’entraîner, c’est utiliser son corps et ses ressources à une intensité inhabituelle. Cela induit de nombreux effets négatifs comme la dégradation de nos cellules ou de nos muscles. Du coup, plus une séance d’entraînement est intense, plus on devient faible !
Pourquoi s’entraîne-t-on alors ? C’est là que la récupération en course à pied prend tout son rôle. Car pendant que vous vous reposez, le corps répare et surtout s’adapte pour être plus fort lors du prochain entraînement. Le corps humain est une exceptionnelle machine qui est en constante évolution, selon le principe d’adaptation. En fait à chaque entraînement, le corps s’adapte selon un processus de surcompensation qui permet d’être plus fort au prochain entraînement.</p>
  <%= image_tag "advice-4.jpg", class: "img-reponsive", width: "100%"%>
        </div>
</div>

<div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Les courbatures
            </div>
          </div>
          <div class="portlet-body">
            <p> Quand les courbatures sont là, il faut faire attention à ce que l’on fait. Si cette douleur est bénigne, cela ne veut pas dire que l’on peut faire n’importe quoi. La douleur liée aux courbatures est un signal que le corps envoie pour indiquer qu’il reconstruit les fibres musculaires endommagées. Les soumettre à un stress important durant cette période de réparation, c’est entraver la reconstruction musculaire et donc diminuer sa qualité. Doit-on pour autant ne rien faire pendant que l’on a des courbatures ?

            Non, au contraire ! Courir n’est pas interdit mais ça doit se faire à allure lente pour ne pas forcer sur les fibres musculaires endommagées. Dans l’idéal, je vous dirais de ne pas courir au plus fort des courbatures et de faire de l’entraînement croisé.
</p>
<%= image_tag "advice-5.jpg", class: "img-reponsive", width: "100%"%>
          </div>
</div>

<div class="portlet box green-meadow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Courrir tous les jours ?
            </div>
          </div>
          <div class="portlet-body">
            <p> La course à pied est un sport traumatisant pour le corps. Nous sommes fait pour courir et notre corps est capable de s’habituer aux chocs générés par la course à pied. Mais cela prend énormément de temps ! En fait courir tous les jours sans générer de grosse fatigue n’est à recommander qu’à ceux qui s’entraînent depuis des années avec un beau volume d’entraînement. Même là, beaucoup de sportifs aiment encore laisser un jour de repos par semaine pour que le corps récupère correctement.</p>
            <%= image_tag "advice-1.jpg", class: "img-reponsive", width: "100%" %>
          </div>
</div>

<div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Quand il fait chaud ...
            </div>
          </div>
          <div class="portlet-body">
            <p> Lever le pied lorsqu’il fait très chaud
                Pour autant, courir en été c’est courir intelligemment. La chaleur corporelle est régulée automatiquement par notre corps via la sueur. Lorsqu’il fait trop chaud, qui plus est si le temps est humide, le corps n’est pas capable de se refroidir efficacement. Toute surchauffe excessive serait à la fois rédhibitoire pour vos performances et pourrait être un problème pour votre santé… Acceptez donc de réduire le rythme un jour de grande chaleur, que ce soit un footing, un fractionné ou… une compétition… Toujours difficile à accepter mais quand on veut courir une compétition en été, on prend le risque d’un jour chaud et il faut faire avec. Si les efforts courts peuvent être problématiques, je pense en particulier aux efforts longs supérieurs à 1h30, adaptez votre allure en conséquence dès le début et pas uniquement une fois que vous serez dans le dur !
              </p>
              <%= image_tag "advice-4.jpg", class: "img-reponsive", width: "100%" %>
          </div>
</div>

<div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Courir avec un équipement adapté
            </div>
          </div>
          <div class="portlet-body">
            <p> Il y a quelques années, j’aurais dit ici de privilégier les textiles techniques et pas les t-shirts en coton pour aller courir en été. Aujourd’hui ce point fondamental est devenu normale pour 95% des coureurs. Pourtant, avec les évolutions technologiques, même les t-shirts techniques ont évolué. Certains tissus sont aujourd’hui d’une finesse extrême qui leur permet de sécher très vite et de ne jamais avoir de sensation désagréable d’humidité.
</p>
<%= image_tag "advice-5.jpg", class: "img-reponsive", width: "100%" %>

          </div>
</div>

<div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Courir à jeun le matin : positif pour le physique ?

            </div>
          </div>
          <div class="portlet-body">
            <p> Courir le ventre vide c’est donc courir un peu plus sur la filière lipidique que d’habitude, c’est pourquoi l’entrainement à jeun est souvent plébiscité dans les régimes. C’est efficace car on brûle plus de graisses en courant à jeun. Pas de miracle pour autant, notre corps possède des réserves de sucres importantes donc ce n’est pas avec une nuit de sommeil que l’effet va être mirobolant. il faudrait un jeûne plus long que ça pour avoir des résultats très efficaces. Toutefois, courir à jeun le matin régulièrement et avec une alimentation adaptée à côté peut quand même avoir un effet positif.

Courir à jeun le matin est souvent dans les plan d’entrainement marathon. Comme on finit son marathon sur la filière lipidique, les réserves de glycogène vides, s’entraîner grâce à la course à jeun est efficace pour en améliorer son efficacité en fin de course. Certains font même du fractionné à jeun pour simuler une fin de marathon ou on veut pouvoir aller vite tout en étant sur les réserves lipidiques. C’est un type d’entraînement fatiguant pour l’organisme, à utiliser donc avec précaution, modération et par les athlètes expérimentés uniquement !</p>
<%= image_tag "advice-3.jpg", class: "img-reponsive", width: "100%" %>
          </div>
</div>

<div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Courir en groupe = Plus de plaisir à courir !

            </div>
          </div>
          <div class="portlet-body">
            <p> Courir en groupe, c’est prendre du plaisir, c’est s’entraîner en s’amusant, c’est aller voir les copains et progresser sans s’en rendre compte. J’en ai parlé dans mes meilleurs conseils pour se motiver à courir, en terme de motivation pour courir, quoi de plus efficace ? Courir en groupe c’est aussi le meilleur moyen de “s’entraîner sérieusement sans se prendre au sérieux”. Parce qu’évidemment courir avec les copains, c’est se dépasser, c’est des petits défis imprévus qui nous poussent hors de notre zone de confort, bref tout ce qu’un Running Addict aime !</p>
            <%= image_tag "advice-2.jpg", class: "img-reponsive", width: "100%" %>
          </div>
</div>

<div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Conseil running : L’hydratation du coureur

            </div>
          </div>
          <div class="portlet-body">
            <p> Notre corps étant composé au 2/3 d’eau, on imagine bien l’importance que l’hydratation du coureur peut avoir pour son bon fonctionnement. Non, on ne rigole pas avec l’hydratation du coureur c’est le principal conseil running que je peux vous donner! Vital au quotidien, notre capital hydrique devient notre armure lorsqu’il s’agit d’aller courir, qui plus est par temps chaud! C’est une armure qui peut vite s’effriter et même se retourner contre nous si on en prend pas soin.</p>
            <%= image_tag "advice-6.jpg", class: "img-reponsive", width: "100%" %>

          </div>
</div>
