<div class="parent">
    <div class="child text-center">
      <h1 class="true-lies landing-title">RunIT</h1>
      <h2 class="landing-subtitle">BETTER KEEP RUNNING</h2>
      <div class="landing-menu">
        <h2>
          <a href="/users/sign_in">Login</a>
        </h2>
      </div>
    </div>
</div>

<%# content_for :javascript do %>
  <!-- <script type='text/javascript'>
    var i = 1;
    var img_bg = ["<%= asset_path('landing1.jpg') %>",
               "<%= asset_path('landing2.jpg') %>",
               "<%= asset_path('landing3.jpg') %>",
               "<%= asset_path('landing4.jpg') %>",
               "<%= asset_path('landing5.jpg') %>"];
  </script> -->
<%# end %>
